<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>AppMovil</name>

    <description>
        AppMovil + Facebook Login
    </description>

    <author href="http://dragonbarbudo.com" email="contacto@dragonbarbudo.com">
        Dragon Barbudo 
    </author>

</widget>
